.content {
    display: flex;
    flex-direction: column;
    gap: var(--base-padding);
    text-align: center;

    &__fruit-stickers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}