.layout {
    padding: var(--base-spacing);
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-inline: auto;
    gap: var(--base-padding);

    & > * {
        grid-column: content-start / content-end;
    }

    &__main {
        flex: 1;
    }

    &__footer {
        text-align: center;
    }
}