.menu {
    --int-padding: var(--menu-padding, var(--base-padding));

    &__height-wrapper {
        padding: var(--int-padding);
    }

    &__link-list {
        --list-gap: 1em;
    }

    &__link {
        --int-lighter: calc(var(--color-weight-500) + var(--lighter, 0%));
        color: hsl( var(--color-hs-primary) var(--int-lighter));
        position: relative;
        line-height: 1;
        padding-block-end: 7px;

        &:is(:hover, :focus-within) {
            --lighter: 15%;
        }

        &:active {
            --lighter: 20%;
        }

        & > a {
            color: inherit;
            text-decoration-style: wavy;
            text-decoration-skip-ink: none;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;

            &::before {
                content: '';
                inset: 0;
                position: absolute;
            }
        }
    }
}